<div class="container mx-auto p-6">
  <!-- Header Section -->
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">FavoriteClipFinderについて</h1>
    <p class="text-gray-600">FavoriteClipFinderでは他者が作成したTwitchのクリップやプレイリストを共有することができます<br>
      また、自分自身でも作成して他者に共有することができます</p>
  </div>

  <!-- What ClipNote Can Do Section -->
  <div class="mb-8">
    <h2 class="text-2xl font-bold text-gray-800 border-b-2 border-purple-500 pb-2 mb-4">全ユーザーが行えること</h2>
    <div class="space-y-6">
      <!-- Item 1 -->
      <div class="flex items-start space-x-4">
        <div class="flex items-start space-x-4">
          <!-- テキスト説明 -->
          <div>
            <h3 class="text-xl font-bold text-gray-800 mb-1">クリップ検索</h3>
            <p class="text-gray-600">
              配信者リストまたは、検索ボックスからクリップを検索することが可能です<br>
              ※ただし、対応していない配信者やゲームも存在します<br>
              Twitchで配信者をフォローしていないまたは非ログインユーザーの場合、<br>
              フォローリストにはおすすめの配信者リストが表示されます<br>
              ぜひそこからお気に入りの配信者を見つけてみてください
            </p>
            <img src="/assets/search.png" alt="クリップ検索の例" class="w-96 h-auto rounded-lg shadow-lg">
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="flex items-start space-x-4">
        <div>
          <h3 class="text-xl font-bold text-gray-800 mb-1">プレイリスト閲覧</h3>
          <p class="text-gray-600">公開設定の他人が作成したプレイリストを閲覧することができます<br>
            面白かったプレイリストはX共有して、他の人と楽しみましょう!<br>
            ※いいねはログインユーザーのみ可能です
          </p>
          <img src="/assets/watch_playlist.png" alt="クリップ検索の例" class="w-96 h-auto rounded-lg shadow-lg">
        </div>
      </div>
    </div>
  </div>

  <!-- How to Use Section -->
  <div>
    <h2 class="text-2xl font-bold text-gray-800 border-b-2 border-purple-500 pb-2 mb-4">ログインユーザーが行えること</h2>
    <div>
      <h3 class="text-xl font-bold text-gray-800 mb-1">プレイリスト作成機能</h3>
      <p class="text-gray-600">
        各クリップの保存ボタンを押下することで面白かったクリップをプレイリストとして保存しておくことが可能です。<br>
        また、プレイリストの公開設定を変更することで他のユーザーに共有することも可能です。<br>
      </p>
      <div class="flex space-x-4">
        <img src="/assets/update_playlist.png" alt="クリップ検索の例" class="w-96 h-auto rounded-lg shadow-lg">
        <img src="/assets/create_playlist.png" alt="クリップ検索の例" class="w-96 h-auto rounded-lg shadow-lg">
      </div>
    </div>
    <h2 class="text-2xl font-bold text-gray-800 border-b-2 border-purple-500 pb-2 mb-4">ログインユーザーが行えること</h2>
    <div>
      <h3 class="text-xl font-bold text-gray-800 mb-1">プレイリスト編集機能</h3>
      <p class="text-gray-600">
        プロフィール画面から、プレイリストの編集をすることが可能です。<br>
        編集アイコンを押下することで、プレイリスト名・公開設定の変更、クリップの削除などができます。<br>
        ※プレイリスト内のクリップを全て削除すると、自動的にプレイリストも削除されます
      </p>
      <div class="flex space-x-4">
        <img src="/assets/profile.png" alt="クリップ検索の例" class="w-96 h-auto rounded-lg shadow-lg">
        <img src="/assets/edit_playlist.png" alt="クリップ検索の例" class="w-96 h-auto rounded-lg shadow-lg">
      </div>
    </div>

  </div>
</div>