<!-- エラーがある場合 -->
<% column ||= :default_column %>
<% if resource.errors.include?(column) %>
<ul class="text-red-500 text-sm mt-2">
  <% resource.errors.full_messages_for(column).each do |error_message| %>
  <li><%= error_message %></li>
  <% end %>
</ul>
<% end %>