<div class="bg-white p-4 rounded-lg shadow-md">
  <!-- ユーザープロフィール -->
  <div class="flex items-center mb-6">
    <div class="w-12 rounded-full">
      <%= image_tag(current_user.profile_image_url, alt: "プロフィール画像", class: "profile-image", width: "50", height: "50") if current_user.profile_image_url.present? %>
    </div>
    <div class="ml-4">
      <h2 class="text-xl font-bold"><%= current_user.user_name %></h2>
    </div>
  </div>
</div>

<div class="mt-8 bg-gray-50 p-6 rounded-lg">
  <h2 class="text-xl font-bold text-black mb-4">マイライブラリ</h2>
  <!-- プレイリスト一覧 -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @playlists.each do |playlist| %>
    <%= render 'playlist', playlist: playlist %>
    <% end %>
  </div>

  <!-- ページネーションリンク -->
  <div data-controller="scroll-to-top" class="pagination-links mt-6 flex justify-center">
    <%= paginate @playlists %>
  </div>
</div>