<footer class="bg-purple-800 text-white p-4 fixed bottom-0 w-full z-50 h-20 flex flex-col justify-center">
  <div class="flex justify-center space-x-8">
    <a href="https://kiyac.app/termsOfService/nZ0bVGVKdi09iMwwIwo3" class="link link-hover">利用規約</a>
    <a href="https://kiyac.app/privacypolicy/5YIRkSkxnBIkcXwt7Q2N" class="link link-hover">プライバシーポリシー</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdA7r8KGa1fNL9vEKE_K4TL2SPAqhs6OK-RzLnYJyPj52QI9g/viewform?usp=dialog" class="link link-hover">お問い合わせ</a>
    <%= link_to "使い方画面", static_pages_help_path, class: "link link-hover" %>
  </div>
  <p class="text-center mt-2">&copy; 2024 FavoriteClipFinder</p>
</footer>