<!-- app/views/streamers/show.html.erb -->

<h1><%= @streamer_info[:name] %> のクリップ一覧</h1>

<%= render partial: "streamers/clips", locals: { clips: @clips, streamer_info: @streamer_info, next_cursor: @next_cursor } %>
