<!-- app/views/streamers/show.html.erb -->

<h1><%= @streamer_info[:name] %> のクリップ一覧</h1>

<%= render partial: "clips", locals: { clips: @clips, streamer_info: @streamer_info, next_cursor: @next_cursor } %>

<!-- デバッグ用 -->
<% if @streamer.present? %>
  <p>配信者: <%= @streamer.streamer_name %></p>
  <p>クリップの数: <%= @clips.count %></p>
<% else %>
  <p>配信者が見つかりませんでした。</p>
<% end %>
