<p>こんにちは <%= @resource.user_name %> さん！</p>

<p>パスワードを変更するためのリンクがリクエストされました。以下のリンクから変更することができます。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>上記リンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>