<!-- 三点リーダー -->
<div class="dropdown dropdown-end z-50">
  <label tabindex="0" class="btn btn-ghost">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01" />
    </svg>
  </label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 right-0 bg-white z-10">
    <li class="flex items-center">
      <%= link_to "編集", edit_playlist_path(playlist), class: "flex w-full items-center hover:bg-purple-600 hover:text-white text-black rounded" %>
    </li>
    <li class="flex items-center">
      <%= link_to "削除", playlist_path(playlist), 
            data: { turbo_method: :delete, turbo_frame: "_top" }, 
            class: "flex w-full items-center hover:bg-purple-600 hover:text-white text-black rounded" %>
    </li>
  </ul>
</div>