<!-- app/views/playlists/_new_playlist_modal.html.erb -->
<!-- 新しいプレイリスト作成モーダル -->
<input type="checkbox" id="new-playlist-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box rounded-lg shadow-lg">
    <h3 class="font-bold text-lg">新しいプレイリストを作成</h3>
    <%= form_with url: playlists_path, method: :post do |f| %>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">タイトルを入力してください</span>
        </label>
        <input type="text" name="playlist[name]" placeholder="例: マイプレイリスト" class="input input-bordered" required />
      </div>

      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">説明</span>
        </label>
      </div>

      <div class="modal-action">
        <label for="new-playlist-modal" class="btn">キャンセル</label>
        <button type="submit" class="btn btn-primary">作成</button>
      </div>
    <% end %>
  </div>
</div>